<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
 
  

<div  class="text-primary heading">
  
    <h1  >Welcome To Ewallet Application </h1>

  </div> 
<br>
<div class="flex-container" >
  <div >
    <a class="nav-item nav-link  " routerLink="">
      
      <img src="{{imgOfAddMoney}}"> <br>
     <span class="addMoney"> Add Money</span>
    </a>
  </div>


<div >
<a class="nav-item nav-link "  routerLink="add">
<img src="{{imgOfTransferMoney}}" class="transferMoney"><br>
Transfer Money</a>
</div>



<div >
<a class="nav-item nav-link " routerLink="show">
<img src="{{imgOfTransactionHistory}}" class="transactionHistory" ><br><br>
Transaction History</a>
</div>

<div >
<a class="nav-item nav-link " routerLink="">
  <img src="{{imgOfLogout}}" class="logout"><br>
 <span class="logoutText">Logout</span></a>
</div>

</div>

</body>
</html>
